/* app/globals.css */
@import "tailwindcss";

@theme {
  /* Primary (Green 主綠色) */
  --color-primary-dark: #0c342c;
  --color-primary: #076653;
  --color-primary-light: #e3ef26;

  /* Accent Greens (裝飾綠) */
  --color-accent-light: #e2fbce;
  --color-accent-dark: #06231d;

  /* Blues (次藍色) */
  --color-blue-dark: #001f3f;
  --color-blue: #1e488f;

  /* Neutrals (淡色) */
  --color-neutral-light: #f6f7ed;
  --color-neutral-verylight: #fffdee;

  /* Functional (警示用紅)*/
  --color-danger: #f03a47;

  /* Logo (博物館標誌)*/
  --color-logo-top: #009d85;
  --color-logo-bottom: #005bac;

  /* Gradient */
  /* 主視覺漸層 */
  --gradient-primary: linear-gradient(
    to right,
    var(--color-primary-light) 0%,
    var(--color-primary) 50%,
    var(--color-primary-dark) 100%
  );

  /* LOGO 色塊 */
  --gradient-logo: linear-gradient(
    to bottom,
    var(--color-logo-top) 0%,
    var(--color-logo-top) 90%,
    var(--color-logo-bottom) 90%,
    var(--color-logo-bottom) 100%
  );
}

@utility bg-primary-gradient {
  background-image: var(--gradient-primary);
}

@utility bg-logo {
  background-image: var(--gradient-logo);
}
